<section id="about" class="section">
      <div class="container">
        <div class="even-columns vertically-centered">
          <div class="flow">

            <div class="flex-group vertically-centered">
              <h2 class="heading-2">{{bio.header}}</h2>

            </div>
            <p>{{bio.para1}}</p>
            <p>{{bio.para2}}</p>


              <div class="two-columns">

              <div class="flex-group vertically-centered">
                <i class="clr-primary-400 fa-light fa-circle-check fa-2x"></i>
                <strong class="heading-4">{{bio.check1}}</strong>
              </div>
              
               <div class="flex-group vertically-centered">
                <i class="clr-primary-400 fa-light fa-circle-check fa-2x"></i>
                <strong >{{bio.check2}}</strong>
              </div>
          
              <div class="flex-group vertically-centered">
                <i class="clr-primary-400 fa-light fa-circle-check fa-2x"></i>
                <strong >{{bio.check3}}</strong>
              </div>
              
               <div class="flex-group vertically-centered">
                <i class="clr-primary-400 fa-light fa-circle-check fa-2x"></i>
                <strong >{{bio.check4}}</strong>
              </div>
            </div> 

            <div class="even-columns padding-block-start-4 ">
        
                <div class="flex-group  vertically-centered">
                    <i class="clr-primary-400 fa-solid fa-map-location-dot fa-3x"></i>
                    <div>
                      <strong >Location</strong>
                      <p>{{settings.address3}}</p>
                    </div>
                </div>
                <div class="flex-group  vertically-centered">
                    <i class="clr-primary-400 fa-solid fa-circle-phone fa-3x"></i>
                    <div>
                      <strong >Call Us Today!</strong>
                      <p>{{settings.phone_display}}</p>
                    </div>
                </div>

            </div>

          </div>
           <div class="image-overlap-grid" data-position="right" >
            <img class="overlap-image-1 border-radius-1 bg-brand-primary-200" data-position="right" src="{{bio.image2}}" alt="{{bio.alt}}">
            <img class="overlap-image-2 border-radius-1 bg-brand-primary-200" data-position="right" src="{{bio.image}}" alt="{{bio.alt}}">
          </div>
        </div>
      </div>
</section>