<div class="container" data-type="wide">
<div class="contact-bar padding-block-1">
    
    
        <div class="flex-group  gap-none">

            <div class="flex-group gap-none vertically-centered margin-inline-end-8">
                <i class="fa-light fa-location-dot fa-1x margin-inline-end-2"><span class="sr-only">{{settings.address3}}</span></i>
                <p>{{settings.address1}} {{settings.address3}}</p>
            </div>

            <div class="flex-group gap-none vertically-centered margin-inline-end-8">
                <i class="fa-light fa-phone fa-1x margin-inline-end-2"><span class="sr-only">Phone:</span></i>
                <a class="decoration-none" href="tel:{{settings.phone}}">{{settings.phone_display}}</a>
            </div>

            <div class="flex-group gap-none vertically-centered">
                <i class="fa-light fa-envelope fa-1x margin-inline-end-2"><span class="sr-only">Email</span></i>
                <a class="decoration-none"  href="mailto:{{settings.email}}" contenteditable="false" style="cursor: pointer;">{{settings.email}}</a>
            </div>
        </div>
    </div>

</div>