<section class="section image-panel-1">

    <div class="container">

       <div class="even-columns vertically-centered space-between">

        <div class=" service-text flow">
            <h2 class="clr-neutral-000">{{cta.header}}</h2>
            <p class="clr-neutral-000 limit-text-70 mx-auto">{{cta.text}}</p>
      
            <a class="button" data-type="accent" href="tel:{{settings.phone}}">CALL NOW</a>
      </div>

      <div class="flex-group">

        <i class="fa-solid fa-phone-volume fa-3x clr-neutral-000"></i>

        <div>
            <h3 class="clr-neutral-000">CALL NOW</h3>
            <h3 class="clr-neutral-000">{{settings.phone_display}}</h3>
        </div>
            
      </div>


       </div> 

      

          {# <div class=" service-icons">

              {% for post in services.list %}
              <div class="center text-center">
              <i class="fa-solid {{post.icon}} fa-3x"></i>
              <h3>{{post.text}}</h3>
              </div>
              {% endfor %}


          </div> #}

    </div>   
</section>   