
<section class="section bg-primary-400 clr-neutral-000 margin-block-start-10">
<div class="container">

    <div class="flex-group space-between vertically-centered">

        <div class="flow">
        <h2 class="heading-2 main-content-limit clr-neutral-000">{{cta.header}}</h2>
        <p>{{cta.text}}</p>
        </div>

        <a href="{{cta.link}}" class="button" data-type="trans">{{cta.button}}</a>

    </div>
</div>
</section>