        <section class=" section">

         <h2 class="margin-block-end-8 text-center">Frequently Asked Questions</h2>


          <div class="container even-columns vertically-centered" data-type="wide">
            <div class="accordion-container mx-auto">
              {% for post in faq.list %}
              <button class="accordion">{{post.question}} <i class="fa-solid fa-plus"></i> </button>
              <div class="panel">
              <p>{{post.answer}}</p>
              </div>
              {% endfor %}

           </div>

            {# <div class="full-height-column">
                <img class="mx-auto" src="{{faq.image}}" alt="{{faq.alt}}">

            </div> #}

             {# <picture class="full-height-column">
                <source media="(max-width:600px)" srcset="{{faq.image}}" type='image/webp'>
                <source media="(min-width:601px)" srcset="{{faq.image}}" type='image/webp'>
                <img loading="lazy" width="586px" height="510px" data-position="right" src="{{faq.fallback}}" alt="{{faq.alt}}">
              </picture> #}


          </div>

         
          

        <script>
           var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active-faq");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                panel.style.display = "none";
                } else {
                panel.style.display = "block";
                }
            });
            }
        </script>

        </section>