<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/sass/main.scss">
  <link rel="canonical" href="https://{{settings.domain}}{{ page.url }}">
  <link rel="preload" as="image" href="{{settings.logo}}">
  <meta name="robots" content="index, follow" >
  {# <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> #}
  <script src="https://kit.fontawesome.com/e878bf0e21.js" crossorigin="anonymous" defer></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="manifest" href="site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:url"                content="https://{{ settings.domain }}{{ page.url }}">
  <meta property="og:type"               content="website">
  <meta property="og:title"              content="{{ title }}">
  <meta property="og:description"        content="{{ description }}">
  <meta property="og:image"              content="{{ image }}">
  <base href="/">
</head>

<body>