<section class="section" id="services">
    <div class="container ">     
        <div class="even-columns  vertically-centered">
                    
            <div class="flow">
                <h2>Gas Boiler Service, Repair and Replacement</h2>
                <p>Whether your home needs a routine safety check or an emergency intervention, we provide comprehensive care for your heating system to keep you warm and worry-free. Our expert engineers specialize in annual gas boiler servicing to maximise efficiency and extend the lifespan of your unit, alongside fast, reliable repairs to get your hot water back on track when things go wrong. </p>
                <p>If it's time for an upgrade, we offer seamless boiler replacements, helping you transition to a modern, energy-efficient model that lowers your utility bills. From minor leaks to full system installations, we prioritize safety, transparent pricing, and professional service</p>
   
            </div>

            <div class="mx-auto"> <img class="max-image" loading="lazy" src="/images/gas-boiler.jpg" width="500" height="700" alt="Installation of a gas boiler with colored pipes equipped with valves and connectors for efficient supply of hot and cold water in the residential water supply system."></div>
        </div>
               {# <a class="btn-1 text-center" href="/services" class="btn btn-dark">See More Services</a> #}
    </div>
</section>