<section class="section">
    <div class="container">


        <div class="even-columns vertically-centered">

            <img src="/images/girl-smiling.webp" alt="">

            <div class="text-center flow">

                <h3 class="clr-primary-400">header</h3>
                <p>asdjnalskdn asdasd as d</p>
                <p>asdasdsadasdasd</p>

                <button class="button">Click me</button>

            </div>

        </div>

    </div>
</section>