{% include '_header.njk'%}
{% include '_contact-bar.njk'%}

{% include '_navigation.njk'%}
{% include '_hero-bg.njk'%}

{% include '_bullet-cards.njk'%}
{# {% include '_bullet-cards-bg.njk'%} #}
{% include '_about.njk'%}
{% include '_cta-bg-image-panel.njk'%}

{% include '_text-image-panel.njk'%}

{# {% include '_service-cards.njk'%} #}
{% include '_logos.njk'%}
{% include '_image-with-text.njk'%}
{% include '_testimonial-panel.njk'%}


{# {% include '_testimonials.njk'%} #}
{# {% include '_featured-post.njk'%} #}
{% include '_faq.njk'%}
{% include '_form-panel.njk'%}
{% include '_footer.njk'%}