{% include '_header.njk' %}
{% include '_contact-bar.njk'%}
{% include '_navigation.njk' %}

<section class="margin-block-8 flow">


     <div class="container">
         
            <h1 class="heading-1">{{h1}}</h1>
           
            {# <div class="breadcrumb">
                {% set breadcrumb = collections.all | eleventyNavigationBreadcrumb("Projects", { includeSelf: true }) %}
                {{ breadcrumb | eleventyNavigationToHtml | safe }}
            </div> #}

    </div>
    
        <div class="container">
           

            <div class="grid-auto-fit">
                
                {% for post in collections.projects | reverse %}
             
                
                <div class="featured-post flow">
                   <a href="{{ post.url }}"> <img src="{{post.data.image}}" alt="{{post.data.alt}}" style="width:100%"></a>
                    <div class="flow">
                        <a class="decoration-none" href="{{post.url}}"><h3>{{post.data.h1}}</h3></a>
                        <a href="{{post.url}}">View Project</a>
                    </div>
                </div>


             
                {% endfor %}
                
            </div>

            
            
        </div>   
</section>

{% include '_cta-button-section.njk' %}


{% include '_footer.njk'%}