@use "../abstracts" as *;

.space-between{
    justify-content: space-between;
    justify-items: start;
}

@media screen and (min-width: 1000px) {
    .space-between {
        justify-items: end;
    }
}