  
  @use "../abstracts" as *;


  .accordion-container{
    max-width: 70ch;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: $color-accent-400;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: large;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid white;
    position: relative;

    & i{
      position: absolute;
      float: right;
      top: 21px;
      right: 15px;
      
    }
  }


  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active, .accordion:hover {
//     background-color: $color-accent-400;
//   }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 1rem 1rem;
    background-color: white;
    display: none;
    overflow: hidden;
  }