@use "../abstracts/" as *;

.hero-bg{

    // Mobile Hero
    background-image: linear-gradient(180deg, rgba(52, 87, 148, 0.2), rgba(52, 87, 148, .2)), url("/images/hero.png"); /* The image used */
    background-color: $color-primary-400; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
    isolation: isolate;

    &-text{
        display: grid;
        align-items: center;
        justify-content: center;
        max-width: 70ch;
        padding: $hero-padding-block 0;
    }

    @include mq(small){
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 70%), rgba(0, 0, 0, 0)), url("/images/hero.jpg"); /* The image used */


    }
}

.hero-bg::after {
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    inset: 0;
    z-index: -1;
    opacity: .5;
 
}

