@use '../abstracts/' as *;


.span-text{
    position: relative;
    max-width: 500px;
    margin-left: 45px;
    text-align: center;
    font-size: $font-size-600;
    color: $color-accent-400;
    
    
    &:before{
      content: " ";
      display: inline-block;
      height: 2px;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 100%;
      background-color: $color-accent-400;
      margin-left: 15px;

      }

      &:after{
        content:" ";
        height: 2px;
        display: inline-block;
        width: 30px;
        background: $color-accent-400;
        display: block;
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: 15px;
      }
}